body {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 1em;
  color: #808080;
  font-weight: 400;
}

h1 {
  font-size:3em;
  color: #33485e;
  text-transform: uppercase;
}


.menu {
    margin: 0px;
    padding: 0px;
    text-align: center;
    list-style-type: none;
  }

.menu li {
    display: inline;
  }

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
  }

.top {
    width: 60%;
    min-width: 300px;
    margin:0 auto;
    margin-bottom: 30px;
  }
